@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23.077% 94.902%;
    --foreground: 233.793 16.022% 35.49%;
    --muted: 222.857 15.909% 82.745%;
    --muted-foreground: 233.333 12.796% 41.373%;
    --popover: 220 23.077% 94.902%;
    --popover-foreground: 233.793 16.022% 35.49%;
    --card: 220 23.077% 94.902%;
    --card-foreground: 233.793 16.022% 35.49%;
    --border: 225 13.559% 76.863%;
    --input: 225 13.559% 76.863%;
    --primary: 266.044 85.047% 58.039%;
    --primary-foreground: 220 23.077% 94.902%;
    --secondary: 222.857 15.909% 82.745%;
    --secondary-foreground: 233.793 16.022% 35.49%;
    --accent: 222.857 15.909% 82.745%;
    --accent-foreground: 233.793 16.022% 35.49%;
    --destructive: 347.077 86.667% 44.118%;
    --destructive-foreground: 220 21.951% 91.961%;
    --ring: 233.793 16.022% 35.49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 21.053% 14.902%;
    --foreground: 226.154 63.934% 88.039%;
    --muted: 236.842 16.239% 22.941%;
    --muted-foreground: 226.667 35.294% 80%;
    --popover: 240 21.053% 14.902%;
    --popover-foreground: 226.154 63.934% 88.039%;
    --card: 240 21.053% 14.902%;
    --card-foreground: 226.154 63.934% 88.039%;
    --border: 234.286 13.208% 31.176%;
    --input: 234.286 13.208% 31.176%;
    --primary: 267.407 83.505% 80.98%;
    --primary-foreground: 240 21.053% 14.902%;
    --secondary: 236.842 16.239% 22.941%;
    --secondary-foreground: 226.154 63.934% 88.039%;
    --accent: 236.842 16.239% 22.941%;
    --accent-foreground: 226.154 63.934% 88.039%;
    --destructive: 343.269 81.25% 74.902%;
    --destructive-foreground: 240 21.311% 11.961%;
    --ring: 226.154 63.934% 88.039%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  *::-webkit-scrollbar {
    @apply w-[2px] bg-neutral-900;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-accent;
  }

  body {
    @apply bg-background text-foreground font-poppins;
  }
  #root:hover > .cursor {
    opacity: 1
  }

  #root {
    @apply h-screen w-screen flex flex-col overflow-x-hidden box-border;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .focusing {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  }

  .bg-grid {
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

  /* loading*/
  .loader {
    width: 80px;
    height: 70px;
    border: 5px solid theme(colors.transparent);
    padding: 0 8px;
    box-sizing: border-box;
    background:
      linear-gradient(theme(colors.foreground) 0 0) 0 0/8px 20px,
      linear-gradient(theme(colors.foreground) 0 0) 100% 0/8px 20px,
      radial-gradient(farthest-side, theme(colors.foreground) 90%, #0000) 0 5px/8px 8px content-box,
      theme(colors.transparent);
    background-repeat: no-repeat;
    animation: l3 2s infinite linear;
  }

  @keyframes l3 {
    25% {
      background-position:
        0 0,
        100% 100%,
        100% calc(100% - 5px);
    }

    50% {
      background-position:
        0 100%,
        100% 100%,
        0 calc(100% - 5px);
    }

    75% {
      background-position:
        0 100%,
        100% 0,
        100% 5px;
    }
  }
}
