@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 87% 95%;
    --foreground: 20 5% 22%;
    --muted: 3 59% 81%;
    --muted-foreground: 28 11% 44%;
    --popover: 30 12% 70%;
    --popover-foreground: 28 11% 34%;
    --card: 30 12% 70%;
    --card-foreground: 28 11% 44%;
    --border: 30 12% 70%;
    --input: 30 12% 70%;
    --primary: 333 34% 54%;
    --primary-foreground: 323 39% 20%;
    --secondary: 40 73% 49%;
    --secondary-foreground: 37 80% 20%;
    --accent: 24 88% 45%;
    --accent-foreground: 19 97% 20%;
    --destructive: 2 75% 46%;
    --destructive-foreground: 358, 100%, 31%;
    --ring: 28 11% 44%;
    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 16%;
    --foreground: 43 59% 81%;
    --muted: 30 9% 23%;
    --muted-foreground: 46 6% 61%;
    --popover: 30 7% 23%;
    --popover-foreground: 35 17% 60%;
    --card: 30 9% 23%;
    --card-foreground: 35 17% 59%;
    --border: 30 9% 23%;
    --input: 30 9% 23%;
    --primary: 333 42% 54%;
    --primary-foreground: 344 47% 88%;
    --secondary: 40 73% 49%;
    --secondary-foreground: 42 95% 88%;
    --accent: 24 88% 45%;
    --accent-foreground: 27 99% 80%;
    --destructive: 355 64% 47%;
    --destructive-foreground: 356 88% 88%;
    --ring: 35 17% 59%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  *::-webkit-scrollbar {
    @apply w-[2px] bg-neutral-900;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-accent;
  }

  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply h-screen w-screen flex flex-col overflow-x-hidden;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .focusing {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
  }

  /* loading*/
  .loader {
    width: 80px;
    height: 70px;
    border: 5px solid theme(colors.transparent);
    padding: 0 8px;
    box-sizing: border-box;
    background:
      linear-gradient(theme(colors.foreground) 0 0) 0 0/8px 20px,
      linear-gradient(theme(colors.foreground) 0 0) 100% 0/8px 20px,
      radial-gradient(farthest-side, theme(colors.foreground) 90%, #0000) 0 5px/8px
        8px content-box,
      theme(colors.transparent);
    background-repeat: no-repeat;
    animation: l3 2s infinite linear;
  }

  @keyframes l3 {
    25% {
      background-position:
        0 0,
        100% 100%,
        100% calc(100% - 5px);
    }

    50% {
      background-position:
        0 100%,
        100% 100%,
        0 calc(100% - 5px);
    }

    75% {
      background-position:
        0 100%,
        100% 0,
        100% 5px;
    }
  }
}
